/* header */
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif
}

a{
    text-decoration: none;
}

.container{
    padding: 0;
    background-color: black;

}
.container1{
    margin: 0 auto;
    max-width: 1000px;
    padding: 1.5rem;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.atalhos{
    display: block;
}
.atalhos a{
    color: white;
}

.atalhos a:hover{
    text-decoration: underline;
}
.atalhos ul{
    font-size: 1.3rem;
    display: flex;
    gap: 2rem;
}
.atalhos ul li{
    color: white;
    list-style: none;
}

/* container1 */
.contato-bg{
    background: linear-gradient(rgb(20, 20, 20) 50%, white 50%);
}

.contato-container{
    margin: 0 auto;
    padding: 3rem 1.5rem;
    max-width: 1000px;
}

.contato-titulo{
    max-width: 100%;
    margin: 0;
}

.contato-titulo h2{
    margin-top: 1rem;
    color: grey;
    font-size: 1.2rem;
}

.contato-titulo h1{
    margin-top: 0.5rem;
    margin-bottom: 4rem;
    color: white;
    font-size: 3rem;
}

.informacoes-container{
    grid-column: 1;
    grid-row: 2;
    border-radius: 4px 0 0  4px;
    padding: 3rem;
    background-color: black;
}

.informacoes-container h3{
    color: white;
    margin-left: 2rem;
}

#redes{
    display: inline-block;
    margin-left: 2rem;
}

.informacoes-item{
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: 1fr 10fr;
}

.informacoes-item img{
    align-self: center;
    justify-self: start;
    grid-column: 1;
    grid-row: 1;
}

.informacoes-item a:hover{
    color: white;
}
.informacoes-item p,a{
    margin: 0.5rem;
    color: grey;
    font-size: 1rem;
    grid-column: 2;
}

.contato-container{
    display: grid;
    grid-template-columns: 2fr 3fr;
}

.formulario{
    background-color: white;
    grid-column: 2;
    grid-row: 2/3;
    border-radius: 0 4px 4px 0;
    padding: 2rem;
    display: grid;
}

.formulario form,input,textarea{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border: none;
    padding: 8px;
    align-content: center;
    justify-content: center;
}

.formulario input{
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}

#botao{
    background-color: orange;
    padding: 20px 35px;
    border-radius: 0.5rem;
    color: black;
    grid-column: 1;
    grid-row: 4;
}

#botao:hover{
    background-color: rgb(206, 134, 0);
}

/* Lojas locais */
.lojas-bg{
    max-width: 1000px;
    margin: 0 auto;
    padding: 3rem 1.5rem;
    margin-bottom: 8rem;
}

.lojas-bg h1{
    font-size: 3rem;
    margin-bottom: 3rem;
}

.lojas img{
    border-radius: 4px;
    width: 450px;
}

.lojas{
    display: flex;    
}

.rj h2{
    font-size: 2.2rem;
    margin-left: 2rem;
}

.lojas-info{
    width:300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 3rem;
}

.lojas-info a,p {
    margin-bottom: 1rem;
    margin-top: 0;
}
.lojas-info p{
    color: grey;
    grid-column: 1;
}

#email{
    grid-row: 1;
}

.horario{
    margin-top: 2rem;
    margin-left: 2rem;
}

.sp h2{
    font-size: 2.2rem;
    margin-left: 2rem;
}

.horario img{
    width: min-content;
    margin-right: 0.5rem;
}

















/* footer */
.final-bg{
    background-color: black;
}

.final{
    margin: 0 auto;
    max-width: 1000px;
    padding: 3rem 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.final p{
    font-size: 1.2rem;
    color: grey;
}

.final a:hover{
    color: white;
}

.vazia{
    padding-top: 1rem;
}
.contato{
    font-size: 1.2rem;
    line-height: 2.5rem;
    width: 250px;
}

.contato a{
    font-size: 1.2rem;
    color: grey;
    margin-right: 2rem;
}

.contato p{
    margin: 0px;
    color: grey;
}
.contato h3{
    color: white;
    margin-bottom: 1.5rem;
}

.contato hr{
    color: rgb(29, 29, 29);
}

.informacoes{
    font-size: 1.2rem;
    line-height: 2.5rem;
    width: 300px;
}

.informacoes h3{
    color: white;
}

.informacoes a{
    font-size: 1.2rem;
    display: block;
    color: grey;
    margin: 0;
    margin-right: 2rem;
}



