body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif
}

a{
    text-decoration: none;
}

.container{
    background-color: black;

}
.container1{
    margin: 0 auto;
    max-width: 1000px;
    padding: 1.5rem;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.atalhos{
    display: block;
}
.atalhos a{
    color: white;
}

.atalhos a:hover{
    text-decoration: underline;
}
.atalhos ul{
    font-size: 1.3rem;
    display: flex;
    gap: 2rem;
}
.atalhos ul li{
    color: white;
    list-style: none;
}



.container2-bg{
    background-color: rgb(22, 22, 22);
}

.container2 {
    max-width: 1000px;
    margin: 0 auto;
    gap: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem 1.5rem;
    align-items: start;
}

.titulo{
    background-color: rgb(22, 22, 22);
    grid-row: 1;
    grid-column: 1/-1;
    padding: 3rem 0;
}

.titulo h1{
    margin: 0;
    color: white;
    font-size: 3rem;
}

.imagens{
    margin: 0 auto;
    grid-column: 1;
    grid-row: 2/8;
    display: grid;
    gap: 4px 10px;
    grid-template-columns: 2;
}

img{
    border-radius: 4px;
    grid-row: 4;
    display: block;
    max-width: 14.75rem;
    justify-self: center;
}

#principal{
    grid-column: 1/3;
    grid-row: 1;
    display: block;
    max-width: 30rem;
}

.container2 p {
    font-size: 1.2rem;
    line-height: 1.7rem;
    grid-row: 2;
    margin: 0;
    color: grey;
}

.container2 span{
    display: block;
    color: white;
    font-size: 0.8rem;
    margin-bottom: -2rem;
}

.titulo span{
    color: grey;
    font-size: 2rem;
    margin-bottom: 0rem;
}

.comprar{
    align-content: start;
    justify-content: start;
    display: flex;
    grid-row: 3;
}

.info{
    height: 30px;
    margin: 4px;
    align-self: start;
}

.comprar a{
    justify-self: start;
    grid-column: 1;
    color: black;
    padding: 15px 25px;
    border-radius: 4px;
    background-color: orange;
}

.comprar span img{
    width: 10px;
    margin-right: 2px;
}
.comprar span{
    margin: 2px;
    padding: 4px;
    font-size: 10px;
    background-color: black;
    color: grey;
    border-radius: 4px;
    width: 100px;
    display: flex;
}


.informacoes-container{
    padding: 1rem;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 4px;
    width: 400px;
    place-self: start;
}
.informacoes-container img{
    width: 24px;
}
.informacoes-container p{
    line-height: 1rem;
    font-size: 0.9rem;
}
.informacoes-container h3{
    color: white;
    margin: 0.5rem 0;
}

.informacoes-item{
    margin: 1rem;
}

.ficha-tecnica{
    margin-top: -1rem;
}

.ficha-tecnica li{
    list-style: none;
    display: flex;
    color: grey;
    width: 400px;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 0.5px solid grey ;
    justify-content: space-between;
}

.ficha-tecnica li:last-child{
    margin-bottom: 0;
    border: none;
}

.ficha-tecnica ul li span{
    font-size: 1rem;
    color: grey;
}

.ficha-tecnica ul{
    gap: 1rem;
    padding: 2rem;
    width: 400px;
    height: 200px;
    border-radius: 4px;
    background-color: black;
}
















.final-bg{
    background-color: black;
}

.final{
    margin: 0 auto;
    max-width: 1000px;
    padding: 3rem 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.final p{
    color: grey;
}

.final a:hover{
    color: white;
}

.vazia{
    padding-top: 1rem;
}
.contato{
    font-size: 1.2rem;
    line-height: 2.5rem;
    width: 250px;
}

.contato a{
    color: grey;
    margin-right: 2rem;
}

.contato p{
    margin: 0px;
    color: grey;
}
.contato h3{
    color: white;
    margin-bottom: 1.5rem;
}

.contato hr{
    color: rgb(29, 29, 29);
}

.informacoes{
    font-size: 1.2rem;
    line-height: 2.5rem;
    width: 300px;
}

.informacoes h3{
    color: white;
}

.informacoes a{
    display: block;
    color: grey;
    margin-right: 2rem;
}

