body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif
}

a{
    text-decoration: none;
}

.container{
    padding: 0;
    background-color: black;

}
.container1{
    margin: 0 auto;
    max-width: 1000px;
    padding: 1.5rem;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.atalhos{
    display: block;
}
.atalhos a{
    color: white;
}

.atalhos a:hover{
    text-decoration: underline;
}
.atalhos ul{
    font-size: 1.3rem;
    display: flex;
    gap: 2rem;
}
.atalhos ul li{
    color: white;
    list-style: none;
}

.seguros-bg{
    background-color: rgb(20, 20, 20);
}
.seguros{
    height: 700px;
    justify-items: center;
    margin: 0 auto;
    padding: 3rem 1.5rem;
    max-width: 1000px;
}

.seguros h1{
    color: white;
    font-size: 3rem;
    margin-bottom: 3rem;
}

.opcoes{
    margin-top: 5rem;
    align-items: center;
    display: flex;
    max-width: 1000px;
    height: 450px;
    gap: 4rem;
}

.opcoes h1{
    font-size: 2rem;
    margin-bottom: 0px;
}

.opcoes p{
    font-size: 0.8rem;
    grid-column: 2;margin-top: 0px;
}
.opcao1 h1{
    margin-top: 2rem;
    color: white;
}

.opcao1{
    padding: 2rem;
    border-radius: 4px;
    justify-items: center;
    width: 400px;
    height: 400px;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#tipo1,p{
    color: grey;
}

.lista a{
    margin: 1rem 0;
    grid-column: 2;
    width: 110px;
    padding: 20px 35px;
    border-radius: 0.5rem;
    text-decoration: none;
    color: white;
    background-color: rgb(56, 56, 56);
}

.lista a:hover{
    background-color: rgb(82, 82, 82);
}

.lista img{
    align-self: start;
}

.lista{
    align-items: center;
    display: grid;
    grid-template-columns: 20px ;
    margin: 1.5rem;
    width: 180px;
    max-width: 300px;
}

.lista p{
    font-size: 1rem;
    color: white;
}

.opcao2{
    border-radius: 4px;
    top: -2rem;
    padding-right: 2rem;
    padding: 3rem 0;
    justify-items: center;
    width: 450px;
    height: 450px;
    display: grid;
    background-color: black;
}

#tipo2{
    color: orange;
}

.opcao2 h1{
    color: white;
    margin-right: 2rem;
}

.opcao2 p{
    color: grey;
}

.opcao2 a{
    color: black;
    background-color: orange;
}

.opcao2 a:hover{
    background-color: rgb(180, 117, 0);
}

.seguros h2{
    margin-bottom: 0;
    font-size: 1.2rem;
    color: grey;
}

.seguros h1{
    margin-top: 0;
    color: white;
    font-size: 3rem;
}

.vantagens-bg{
    background-color: black;
}

.vantagens{
    padding: 3rem 0;
    margin: 0  auto;
    max-width: 1000px;
}

.vantagens h1{
    font-size: 3rem;
    margin-left: 1.5rem;
    color: white;
}

.vantagens-container{
    display: grid;
    margin: 4rem 1.5rem;
    grid-template-columns: 1fr 1fr;
    gap: 2rem 4rem;
}

.vantagens-item h2{
    color: white;
}

.perguntas{
    padding: 3rem 0;
    margin: 0  auto;
    max-width: 1000px;
}

.perguntas-item{
    margin: 2.5rem;
}

.perguntas h1{
    margin-left: 1.5rem;
    font-size: 3rem;
    margin-bottom: 4rem;
}

.perguntas-item h2::before{
    display: inline-block;
    content: "";
    width: 12px;
    height: 8px;
    background-color: orange;
    align-self: center;
    margin-right: 0.5rem;
    margin-bottom: 0.15rem;
}

.perguntas-item a{
    justify-content:space-between ;
    display: flex;
    font-size: 0.8rem;
    color: black;
}


.perguntas-item img{
    align-self: center;
    justify-self: end;
    max-width: 14px;
    height: 6px;
    display: inline-block;
}

.perguntas-item a:hover img{
    transform: rotate(180deg);
    transition: 400ms;
}

.perguntas-item a:not(:hover) img{ 
    transform: rotate(0deg);
    transition: 400ms;
}

.perguntas-item p{
    margin-top: 0;
    margin-left: 1.4rem;
    max-width: 800px;
    color: rgb(61, 61, 61);
}

.final-bg{
    background-color: black;
}

.final{
    margin: 0 auto;
    max-width: 1000px;
    padding: 3rem 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.final p{
    color: grey;
}

.final a:hover{
    color: white;
}

.vazia{
    padding-top: 1rem;
}
.contato{
    font-size: 1.2rem;
    line-height: 2.5rem;
    width: 250px;
}

.contato a{
    color: grey;
    margin-right: 2rem;
}

.contato p{
    margin: 0px;
    color: grey;
}
.contato h3{
    color: white;
    margin-bottom: 1.5rem;
}

.contato hr{
    color: rgb(29, 29, 29);
}

.informacoes{
    font-size: 1.2rem;
    line-height: 2.5rem;
    width: 300px;
}

.informacoes h3{
    color: white;
}

.informacoes a{
    display: block;
    color: grey;
    margin-right: 2rem;
}




